# ---- HEADERS ---- 
snippet h1
	<h1${2}>
		${1}
	</h1>

snippet h2
	<h2${2}>
		${1}
	</h2>

snippet h3
	<h3${2}>
		${1}
	</h3>

snippet h4
	<h4${2}>
		${1}
	</h4>

snippet h5
	<h5${2}>
		${1}
	</h5>

snippet h6
	<h6${2}>
		${1}
	</h6>


# ------ BLOCKS ------
snippet p
	<p${2}>
		${1}
	</p>

snippet div
	<div class='${1}'>
		${2}
	</div>

snippet ul
	<ul class='${1}'>
		${2}
	</ul>

snippet li
	<li class='${1}'>
		${2}
	</li>
