snippet log
	console.log(${1:test});


snippet ds
	describe('${1}', function() {
		${2}
	});


snippet it
	it('${1}', function() {
		${2}
	});


snippet req
	var ${1:placeholder} = require('$1');


snippet imp
	import ${1:placeholder} from $1;


snippet exp
	export ${1:default };


snippet func
	function${1}(${2}) {
		${3}
	}


snippet render
	render() {${2}
		return (
			${1}
		);
	}

snippet doc
	/**
	 * ${1:@param} ${2}
	 */
